<h1>All Our Users</h1>

<% @users.each do |user| %>
	<div class="well" >
		<p>User: <%= user.email %></p>
		<p>Role: <%= user.role %></p>

		<p><%= link_to "Show User", show_user_path(id: user.id) %></p>
		
		
	</div>
<% end %>	
		
